---
http_interactions:
- request:
    method: get
    uri: https://viacep.com.br/ws/66610170/json/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "cep": "66610-170",
          "logradouro": "Passagem Rosa",
          "complemento": "",
          "bairro": "Curió-Utinga",
          "localidade": "Belém",
          "uf": "PA",
          "ibge": "1501402",
          "gia": "",
          "ddd": "91",
          "siafi": "0427"
        }
  recorded_at: Thu, 10 Feb 2022 21:42:16 GMT
recorded_with: VCR 6.0.0
